<settings><servos><servo id="0"><min_rotation>0</min_rotation><max_rotation>120</max_rotation><speed>133.0</speed></servo><servo id="1"><min_rotation>10</min_rotation><max_rotation>120</max_rotation><speed>133.0</speed></servo><servo id="2"><min_rotation>0</min_rotation><max_rotation>120</max_rotation><speed>133.0</speed></servo><servo id="3"><min_rotation>0</min_rotation><max_rotation>120</max_rotation><speed>133.0</speed></servo><servo id="4"><min_rotation>0</min_rotation><max_rotation>120</max_rotation><speed>133.0</speed></servo><servo id="5"><min_rotation>0</min_rotation><max_rotation>80</max_rotation><speed>133.0</speed></servo></servos></settings>